* {
    font-weight: auto;
    font-size: small;
    color: black;
    letter-spacing: 1px;
    font-family: Quicksand;
    /* margin: 0; */
}


footer{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.cafe{
    margin-right: 10px;
    background-color: none;
    font-size: smaller;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}