.title { 
    text-shadow: 1px 1px 1px #000;
  }

  .shadow {
    box-shadow: 5px 5px 5px black, -5px -5px 10px blue;
  }

  *{
    max-width: none;
  }

  .logo{
    width: 80px;
    height: 80px
    /*text-align: center;*/
  }
  
  
  .foLrma{
    min-width: 26vw;
    max-width: 50vw;
    /*max-width: 35vw;*/
   }


   .boton:hover{
    color: black;
    background-color: gold;
    border-color: gold;
   }
  
   .boton:active{
    color: white;
    background-color: black;
    border-color: black;
   }
  