<div class="hero container-fluid d-flex justify-content-center align-items-center">

    <div class="inicial" style="text-align:center">
      <div class="container mt-2 text-center ">


        <div class="wrapper">
            <div *ngIf="!loading" class="container forma p-2 mb-2 rounded shadow p-3">
                <img class="logo" src="../../../assets/img/robot3.gif" alt="img login">
                <h4 class="text-black fw-bold">Registro Profesor</h4>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="email" class="form-control" placeholder="Introduce Email">
                            <label>Email</label>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="nombre" class="form-control" placeholder="Introduce nombre">
                            <label>Nombre</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Introduce password">
                            <label>Password</label>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Introduce password otra vez">
                            <label>Repetir Password</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="phone_no" class="form-control" placeholder="Introduce numero telefono">
                            <label>Número telefono</label>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="dni" class="form-control" placeholder="Introduce numero dni">
                            <label>DNI</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="grupo_id" class="form-control" placeholder="Grupo">
                            <label>Grupo</label>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="role_id" class="form-control" placeholder="Rol">
                            <label>Rol</label>
                        </div>
                    </div>
                </div>


                <div class="d-grid gap-2">
                    <button type="button" (click)="addUser()" class="boton btn btn-dark btn-lg fw-bold">Aceptar</button>
                </div>

                <div class="mt-2">
                    <span class="mt-1">Tienes cuenta? <a routerLink="/loginProfesor">Login Profesor</a>&nbsp; o</span>&nbsp;&nbsp;
                    <span class="mt-1">Ir a <a routerLink="/signIn">Registro Alumno</a></span>
                </div>

            </div>
            <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </div>
</div>






