<!--<app-navbar></app-navbar>-->

<div class="hero container-fluid d-flex justify-content-center align-items-center" *ngIf="this.getRol()===1; ngIfElse getRol">
    <div class="inicial" style="text-align:center">
      <br>
      <div class="container tamano">
        <br>
        <h3 class="fw-bold">Historial</h3><b>{{ getUserName () }}</b><br><br>
          <div *ngIf="!loading" id="daily" class="body rounded">
          
            <div class="accordion" id="accordionExample" *ngFor="let item of this.model">
              <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="{{item.id_valoracion}}">
                  <div class="accordion-button cabecera titulo collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+(item.id_valoracion)" aria-expanded="false" [attr.aria-controls]="item.id_valoracion">
                    <span>{{ item.fecha | date : 'fullDate' }}</span>
                </div>
                </h2>
                <div id="collapse{{item.id_valoracion}}" class="accordion-collapse pintar collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body"><ul class="list-group list-group-flush">
                    <li class="list-group-item bg-info text-white ok">Desayuno <p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{item.desayuno}}.svg"/></li>
                    <li class="list-group-item bg-info text-white ok">Comida <p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{item.comida_primero}}.svg"/>&nbsp;<img class="IconoVal" src="../../assets/img/{{item.comida_segundo}}.svg"/>&nbsp;<img class="IconoVal" src="../../assets/img/{{item.comida_postre}}.svg"/></li>
                    <li class="list-group-item bg-info text-white ok">Merienda <p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{item.merienda}}.svg"/></li>
                    <li class="list-group-item bg-info text-white ok">Dormir:  <p class="mb-1"></p><span class="text-black nook">{{ item.dormir_inicio}}</span> - <span class="text-black nook">{{ item.dormir_final}}</span></li>
                    <li class="list-group-item bg-info text-white ok">Deposiciones: <p class="mb-1"></p><span class="text-black nook">{{ item.deposiciones}}</span></li>
                    <li class="list-group-item bg-info text-white ok">Observaciones: <p class="mb-1"></p><span class="text-black nook">{{ item.observaciones}}</span></li>
                  </ul></div>
                </div>
              </div>
            </div>

          <br>

          </div>
          <app-spinner *ngIf="loading"></app-spinner>
          <div class="d-grid gap-2 d-md text-center justify-content-center">
            <button class="shake boton btn btn-info p-1" style="height:40px;width:70px" (click)="volver()">Volver</button>
          </div>
          </div>
          <br>
          <br>
          <br>
          <br>
    </div>
<br>
<br>
<br>
<br>
</div>
<div class="text-center"  *ngIf="this.getRol()===2; ngIfElse getRol" >
  <h1>404</h1>
  <br>
  <h3>PAGINA NO ENCONTRADA</h3>
  <br>
  <button class="boton btn btn-info p-1" style="height:40px;width:70px" (click)="volverdashboard()">Volver</button>
</div>



