<!--<app-navbar></app-navbar>-->

<div class="hero container-fluid d-flex justify-content-center align-items-center" style="height:100%; background-image: url(../../assets/img/background_pattern.png);
background-size:contain; background-repeat: repeat; background-position: 30% 35%">
    <div class="inicial" style="text-align:center">
      <div class="container">
        <br>
        <br> 
        <h2 class="text">Historial</h2>
        <br>
        <br>
          <div *ngIf="!loading" id="daily" class="body rounded">
            
            <div class="card mt-3" style="width: 18rem;"  *ngFor="let item of this.model">
              <div class="card-header bg-info"><span>{{ item.fecha }}</span></div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Desayuno <img class="IconoVal" src="../../assets/img/{{item.desayuno}}.svg"/></li>
                <li class="list-group-item">Comida <img class="IconoVal" src="../../assets/img/{{item.comida_primero}}.svg"/>&nbsp;<img class="IconoVal" src="../../assets/img/{{item.comida_segundo}}.svg"/>&nbsp;<img class="IconoVal" src="../../assets/img/{{item.comida_postre}}.svg"/></li>
                <li class="list-group-item">Merienda <img class="IconoVal" src="../../assets/img/{{item.merienda}}.svg"/></li>
                <li class="list-group-item">Dormir <span>{{ item.dormir_inicio}}</span> - <span>{{ item.dormir_final}}</span></li>
                <li class="list-group-item">Deposiciones: <span>{{ item.deposiciones}}</span></li>
                <li class="list-group-item">Observaciones: <span>{{ item.observaciones}}</span></li>
              </ul>
            </div>
            <br>
            
            <!--<table class="table d-none d-lg-flex">
              <thead>
               <tr>
                <th><span class="titulo">Fecha</span></th>
                <th><span class="titulo">Desayuno</span></th>
                <th><span class="titulo">Comida 1º</span></th>
                <th><span class="titulo">Comida 2º</span></th>
                <th><span class="titulo">Comida postre</span></th>
                <th><span class="titulo">Merienda</span></th>
                <th><span class="titulo">Dormir inicio</span></th>
                <th><span class="titulo">Dormir final</span></th>
                <th><span class="titulo">Deposiciones</span></th>
                <th><span class="titulo">Observaciones</span></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.model">
                  <td class="dato"><span>{{ item.fecha }}</span></td>
                  <td><img class="IconoVal" src="../../assets/img/{{item.desayuno}}.svg"/></td>
                  <td><img class="IconoVal" src="../../assets/img/{{item.comida_primero}}.svg"/></td>
                  <td><img class="IconoVal" src="../../assets/img/{{item.comida_segundo}}.svg"/></td>
                  <td><img class="IconoVal" src="../../assets/img/{{item.comida_postre}}.svg"/></td>
                  <td><img class="IconoVal" src="../../assets/img/{{item.merienda}}.svg"/></td>
                  <td class="dato"><span>{{ item.dormir_inicio}}</span></td>
                  <td class="dato"><span>{{ item.dormir_final}}</span></td>
                  <td class="dato"><span>{{ item.deposiciones}}</span></td>
                  <td class="dato"><span>{{ item.observaciones}}</span></td>
                </tr>
              </tbody>
            </table>-->



          </div>
          <app-spinner *ngIf="loading"></app-spinner>
          </div>
      <!--
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info p-1">Daily</button> 
        <button class="btn btn-info p-1">Historial</button> 
        <button class="btn btn-info p-1">Alertas</button>
      </div>
      -->
      
      <div class="d-grid gap-2 d-md-block text-center">
        <button class="btn btn-info p-1" style="height:40px;width:70px" (click)="volver()">Volver</button>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
</div>



