* {
    font-family: Quicksand;
    /*margin: 0;*/
    /*overflow: hidden;*/
    max-width: none;
    /*height: none;*/
  }

  .IconoVal{
    width: 24px;
    text-align: center;
  }
  
  .dato{
    padding-top: 8px;
  }

  .titulo{
    margin-bottom: 30px;
    font-weight: 700;
  }

  .tamano{
    padding-top: 10vh;
  }


  button{
    justify-content: center;
  }

  /*#daily{
    overflow-y: scroll;
  }*/

  /*.hero {
    background-image: url("../../assets/img/background_pattern.png");
    background-repeat: repeat;
    background-attachment: fixed;
  }*/