<app-navbar></app-navbar>


<div class="hero container-fluid d-flex justify-content-center align-items-center" style="height:94vh;  background-image: url(../../assets/img/background_pattern.png);
background-size:contain; background-repeat: repeat; background-position: 50% 50%; overflow: hidden">

    <div class="inicial" style="text-align:center">
      <div class="container-fluid text-center ">
        <h2 class="text">Historial</h2>
        <br>
        <br>
        <br>
        <table class="table">
            <!--<thead>
              <div class="d-grid gap-2 background">
                  <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="editDaily()">Entrada Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                  <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="historialProfesor()">Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="alertas()">Historial</button>
            </div>
            </thead>-->
            <tbody>
              <!--<tr *ngFor="let item of listInfo">
                <td>{{ item.name }}</td>
                <td>{{ item.description }} </td>
              </tr>-->
            </tbody>
          </table>
      </div>
      <!--
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info p-1">Daily</button> 
        <button class="btn btn-info p-1">Historial</button> 
        <button class="btn btn-info p-1">Alertas</button>
      </div>
      -->
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info p-1" (click)="volver()">Volver</button>
      </div>
    </div>
</div>

