* {
    font-family: Quicksand;
    font-weight: 100;
    /*margin: 0;*/
    /*overflow: hidden;*/
    max-width: none;
  }

.bold{
  font-style: bold;
}

.IconoVal{
  width: 30px;
  text-align: center;
}

.dato{
  padding-top: 9px;
}

.titulo{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: medium;
}

button{
  justify-content: center;
}