* {
    font-family: Quicksand;
    /*font-weight: 100;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
    max-width: none;
  }

.bold{
  font-style: bold;
}

.IconoVal{
  width: 30px;
  text-align: center;
}

.dato{
  padding-top: 9px;
}

.titulo{
  /*margin-bottom: 30px;*/
  font-weight: 700;
}

button{
  justify-content: center;
}

.boton{
  background-color: rgb(13, 202, 240);
  /*border-color: black;*/
  border: none;
}
 
.boton:hover{
  color: black;
  background-color: gold;

 }

 .boton:active{
  color: white;
  background-color: black;
 }


 .ok{
  text-shadow: 1px 1px 1px #000;
}

.nook{
  text-shadow: 0px 0px 0px;
}

.cabecera{
  color: black;
  background-color: gold;
} 