<app-navbar></app-navbar>


<div class="hero container-fluid d-flex justify-content-center align-items-center" style="height:94vh;  background-image: url(../../assets/img/background_pattern.png);
background-size:contain; background-repeat: repeat; background-position: 50% 50%; overflow: hidden">

    <div class="inicial" style="text-align:center">
      <div class="container-fluid text-center ">
        <h2 class="text">Daily</h2>
        <br>
        <br>
        <br>
        <div *ngIf="!loading" class="body p-4 mb-2 bg-info rounded shadow p-3">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Comida_primero</th>
                <th>comida_segundo</th>
                <th>comida_postre</th>
                <th>merienda</th>
                <th>dormir_inicio</th>
                <th>dormir_final</th>
                <th>dormir_deposiciones</th>
                <th>dormir_observaciones</th>

                </tr>
            </thead>
            <tbody>
              <td>{{ this.model.fecha }}</td>
             <td>{{ this.model.comida_primero }}</td>
             <td>{{ this.model.comida_segundo }}</td>
             <td>{{ this.model.comida_postre }}</td>
             <td>{{ this.model.merienda }}</td>
             <td>{{ this.model.dormir_inicio }}</td>
             <td>{{ this.model.dormir_final }}</td>
             <td>{{ this.model.deposiciones }}</td>
             <td>{{ this.model.observaciones}}</td>
            </tbody>
          </table>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
      </div>
      <!--
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info p-1">Daily</button> 
        <button class="btn btn-info p-1">Historial</button> 
        <button class="btn btn-info p-1">Alertas</button>
      </div>
      -->
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-info p-1" (click)="volver()">Volver</button>
      </div>
    </div>
</div>
