* {
    font-family: Quicksand;
    font-weight: 100;
    margin: 0;
    overflow: hidden;
    max-width: none;
  }

.bold{
  font-style: bold;
}

.IconoVal{
  width: 40px;
  text-align: center;
}

.dato{
  padding-top: 9px;
}