
<div class="hero container-fluid d-flex justify-content-center align-items-center">

    <div class="inicial" style="text-align:center">
      <div class="container-fluid text-center ">
        <h4>Hola, {{ getUserName() }}</h4>
        <h5>{{getGrupo()}}</h5>
        <br>
        <table class="table">
            <thead>
              <div class="d-grid gap-2 background">
                  <button type="button" class="shake boton btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4" (click)="Daily()">Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                  <button type="button" class="shake boton btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4" (click)="Historial()">Historial</button>
              </div>
              <div class="d-grid gap-2 background">
                <button type="button"  class="imgbutton shake boton btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4" (click)="Alertas()">Alertas</button>
            </div>
            </thead>
            <tbody>
              <!--<tr *ngFor="let item of listInfo">
                <td>{{ item.name }}</td>
                <td>{{ item.description }} </td>
              </tr>-->
            </tbody>
          </table>
      </div>
      
        
    </div>
</div>
<p></p>


