
<nav class="navbar navbar-expand-lg bg-info fixed-top p-1">
    <div class="container-fluid">
      
        <div class="col1">
          <div class="navbar-brand polard" href="#" id="logoPolard" >Polard</div>
        </div>



        <div class="col2 justify-content-center">
          <app-weather id="wheater"></app-weather>
        </div>



        <div class="col3">
          <form class="d-flex" *ngIf="this.getUserName(); ngIfElse getUserName">

            <table class="grupal">
              <tr>
                  <th class="nombrecuenta">{{this.getUserName() }}</th>
              </tr> 
              <!--<tr>
                  <th class="nombregrupo">{{getGrupo()}}</th>
              </tr>-->
            </table>

            <!--<span class="rol grupo2"><img class="iconoPerfil" src="../../assets/rol/{{getRol()}}.png"/>
            </span>--> 
          
            <div class="modal" (click)="showModal=false" tabindex="-1"[ngClass]="{'show':showModal}">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body border rounded m-3 gold text-center">
                    <p><img class="iconoPerfil2" src="../../assets/rol/{{getRol()}}.png"/></p>
                    <h5 *ngIf="this.getRol()==1; ngIfElse getRol">Alumno</h5>
                    <h5 *ngIf="this.getRol()==2; ngIfElse getRol">Profesor</h5>

                    <h3 class="text-center">{{this.getUserName() }}</h3>
                    <span class="text-center">Classe: {{getGrupo()}}</span>
                    <br><span *ngIf="this.getRol()==1; ngIfElse getRol" >Tutor: {{this.getNameTutor()}}</span>

                  </div>
                </div>
              </div>
          </div>
          
          <button type="button" class="grupo btn btn-white btn-sm"
          (click)="showModal=true" data-toggle="modal" data-target="#myModal">
          <img class="iconoPerfil" src="../../assets/rol/{{getRol()}}.png"/>
            </button>
             


            <button class="boton btn btn-light-sm p-1 mt-1 mb-1" (click)="logOut()"
            type="button" *ngIf="this.getUserName(); ngIfElse getUserName">Salir</button>
          </form>
        </div>

      </div>
  
</nav>
















<!--<b class="navbar-brand polard" href="#" >POLARD</b>

      <app-weather></app-weather>

      <form class="d-flex">
        <div class="p-2">{{ this.getUserName() }}</div>&nbsp;&nbsp;
        <button class="btn btn-light" (click)="logOut()" type="button">LogOut</button>
      </form>
     

          <style>
            body {
              background-image: url(images/blob-9.svg);
              background-attachment: cover;
              background-repeat:no-repeat;
              background-size:100% 100%;
            }
          </style>-->
