.title { 
    text-shadow: 1px 1px 1px #000;
  }

  .shadow {
    box-shadow: 5px 5px 5px black, -5px -5px 10px blue;
  }

*{
    max-width: none;
  }

 
  .foLrma{
    /*min-width: 26vw;*/
    max-width: 35vw;
   }

   .boton:hover{
    color: black;
    background-color: gold;
    border-color: gold;
   }
  
   .boton:active{
    color: white;
    background-color: black;
    border-color: black;
   }
  