<div class="hero container-fluid d-flex justify-content-center align-items-center" style="height:100vh; background-image: url(../../assets/img/background_pattern.png);
background-size:contain; background-repeat: repeat repeat; background-position: 30% 35%; overflow: hidden">

    <div class="inicial" style="text-align:center">
      <div class="container mt-2 text-center ">


        <div class="wrapper">
            <div *ngIf="!loading" class="body">
                <img class="logo" src="../../../assets/img/robot3.gif"  alt="img login">
                <h3 class="mb-2">Login Profesor</h3>
                <div class="form-floating mb-3 mt-3">
                    <input  type="text" [(ngModel)]="email" autocomplete="false" class="form-control" placeholder="Introduce Email">
                    <label>Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input  type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Introduce Password">
                    <label>Password</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-info btn-lg" (click)="login()">Entrar</button>
                </div>
                <p class="mt-3">No tienes cuenta? <a routerLink="/signInProfesor">Registrar</a></p>
                <p class="mt-3">Ir a <a routerLink="/signIn">Login</a></p>
            </div>
            <app-spinner *ngIf="loading"></app-spinner>
        </div> 
        
      
        
    </div>
</div>

<!--
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/robot2.gif" alt="img login">
        <h3 class="mb-2">Login</h3>
        <div class="form-floating mb-3 mt-3">
            <input  type="text" [(ngModel)]="email" autocomplete="false" class="form-control" placeholder="Introduce Email">
            <label>Email</label>
        </div>
        <div class="form-floating mb-3">
            <input  type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Introduce Password">
            <label>Password</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-info btn-lg" (click)="login()">Aceptar</button>
        </div>
        <p class="mt-3">No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
-->