.title { 
    text-shadow: 1px 1px 1px #000;
  }

  .shadow {
    box-shadow: 5px 5px 5px black, -5px -5px 10px blue;
  }

*{
    max-width: none;
  }

 
 
  .forma{
    background-color: gold;
   }

   .boton:hover{
    color: black;
    background-color:  rgb(13, 202, 240);
    /*border-color:  rgb(13, 202, 240);*/
   }
  
   .boton:active{
    color: white;
    background-color: black;
    /*border-color: black;*/
   }