<div class="hero container-fluid d-flex justify-content-center align-items-center a1"
  *ngIf="this.getRol()===2; ngIfElse getRol">

  <div class="inicial" style="text-align:center">
    <div class="container-fluid text-center ">
      <br>
      <div *ngIf="!loading" id="daily" class="container-fluid body p-4 mb-2 rounded d-xl-none">

        <div class="container">
          <div class="col">
            <br>
              <br>
              <br>
            <div class="table" id="tablainfo">
              <h4 class="text-black fw-bold d-xl-none">Daily</h4>
              <h5 class="fw-bold d-xl-none">{{ getGrupo() }}</h5>

              <!--COLUMNA PER TABLET / SMARTPHONE EN RESOLUCIÓ VERTICAL-->
              <div class="card mt-3 d-xl-none" style="width: 22rem" *ngFor="let item of ' '.repeat(models.length).split(''); let i = index;">
                
                <div class="cabecera titulo card-header"><span>{{ models[i].alumno.nombre }}</span></div>

                <ul class="list-group list-group-flush justify-content-center bg-info">

                  <ul class="list-group list-group-flush mt-3" >
                    <li class="list-group-item bg-info text-white ok fw-bold">Desayuno <p class="mb-1"><img
                          class="IconoVal" src="../../assets/img/{{this.model.desayuno}}.svg" /></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Comida <br><img
                        class="IconoVal" src="../../assets/img/{{this.model.comida_primero}}.svg"/><img src="../../assets/img/{{this.model.comida_segundo}}.svg"><img src="../../assets/img/{{this.model.comida_postre}}.svg"><span></span></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Merienda <p class="mb-1"></p><img
                        class="IconoVal" src="../../assets/img/{{this.model.merienda}}.svg" /></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Dormir Inicio <p class="mb-1"></p><span
                        class="text-black nook fw-bold">{{this.model.dormir_inicio}}</span></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Dormir Final <p class="mb-1"></p><span
                        class="text-black nook fw-bold">{{this.model.dormir_final}}</span></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Deposiciones: <p class="mb-1"></p><span
                        class="text-black nook fw-bold">{{this.model.deposiciones}}</span></li>
                    <li class="list-group-item bg-info text-white ok fw-bold">Observaciones: <p class="mb-1"></p><span
                        class="text-black nook fw-bold">{{this.model.observaciones}}</span></li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
          <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </div>
  </div>



<div class="hero container-fluid d-flex justify-content-center align-items-center a1" *ngIf="this.getRol()===2; ngIfElse getRol">

  <div class="inicial" style="text-align:center" *ngIf="!loading" id="daily">
    <div class="container-fluid text-center ">
        <div class="container">
          <div class="col">
            <div class="table" id="tablainfo" >
              <h4 class="text-black fw-bold d-none d-xl-block">Daily</h4><h5 class="fw-bold d-none d-xl-block">{{ getGrupo() }}</h5>
              <br>

        <!--COLUMNA PER PC EN RESOLUCIÓ AMPLE-->

        <div *ngIf="!loading" id="daily" class="body d-none d-xl-block">
          <div class="table justify-content-center">
            <thead class="cabecera m-3 rounded justify-content-center space">
              <th *ngIf="mostrar"  class="fw-bold">Enviar</th>
              <th class="fw-bold space">Nombre</th>
              <th class="fw-bold space">Desayuno</th>
              <th class="fw-bold space">Comida 1o</th>
              <th class="fw-bold space">Comida 2o</th>
              <th class="fw-bold space">Postre</th>
              <th class="fw-bold space">Merienda</th>
              <th class="fw-bold space">Dormir Ini</th>
              <th class="fw-bold space">Dormir Fin</th>
              <th class="fw-bold space">Deposiciones</th>
              <th class="fw-bold space">Observaciones</th>
            </thead>
    
            
            <tbody class="bg-info m-3 rounded text-center justify-content-center" *ngFor="let item of ' '.repeat(models.length).split(''); let i = index;">
              <tr>

                <td class="fw-bold">{{ models[i].alumno.nombre }}</td>
                <td><p class="mb-1"><img class="IconoVal" src="../../assets/img/{{this.model.desayuno}}.svg"/></td>
                <td><p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{this.model.comida_primero}}.svg"/></td>
                <td><p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{this.model.comida_segundo}}.svg"/></td>
                <td><p class="mb-1"></p><img class="IconoVal" src="../../assets/img/{{this.model.comida_postre}}.svg"/></td>
                <td><p class="mb-1"><img class="IconoVal" src="../../assets/img/{{this.model.merienda}}.svg"/></td>
                <td><p class="mb-1"><img class="IconoVal" src="../../assets/img/{{this.model.merienda}}.svg"/></td>
                <td><p class="mb-1"><img class="IconoVal" src="../../assets/img/{{this.model.merienda}}.svg"/></td>
                <td>{{this.model.deposiciones}}</td>
                <td>{{this.model.observaciones}}</td>

              </tr>
            </tbody>
          </div>
        </div>  
     
      <app-spinner *ngIf="loading"></app-spinner>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md text-center justify-content-center">
    <button class="shake boton btn btn-info p-1 fw-bold" style="height:40px;width:70px" (click)="volver()">Volver</button>
  </div>
  <br>
  <br>
  <br>
  <br>






<div class="text-center" *ngIf="this.getRol()===1; ngIfElse getRol">
  <h1>404</h1>
  <br>
  <h3>PAGINA NO ENCONTRADA</h3>
  <br>
  <button class="boton btn btn-info p-1" style="height:40px;width:70px" (click)="volverdashboard()">Volver</button>
</div>