* {
    font-family: Quicksand;
    max-width: none;
    justify-content: center;
    /*font-weight: 100;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
}

.color{
background-color: rgb(13, 202, 240);
}


.boton{
background-color: rgb(4, 141, 169);
 /*border-color: black;*/
border: none;
}
   

.boton:hover{
color: black;
background-color: gold;
}


.color2{
background-color: gold;
}

.derecha{
    margin-right: 4px;
}