.title { 
    text-shadow: 1px 1px 1px #000;
  }

  

  * {
    max-width: none;
  }


   .foLrma{
    min-width: 26vw;
    max-width: 50vw;
    /*max-width: 35vw;*/
   }

   .boton{
    color:white;
    background-color: black;
   }


   .boton:hover{
    color: black;
    background-color: gold;
    border-color: gold;
   }
  
   .boton:active{
    color: white;
    background-color: black;
    border-color: black;
   }
  
   