

<div class="hero container-fluid d-flex justify-content-center align-items-center">

<div class="inicial" style="text-align:center">
  <div class="container-fluid text-center ">
    <h2 class="text-black">Edit Daily ({{ this.getdate() }})</h2>
    <br>
    <br>
    <br>
 
    <div *ngIf="!loading" id="daily" class="body p-4 mb-2 rounded">
      <table class="table" id="tablainfo">
        <!--<thead>
          <th>Nombre</th>
          <th>Desayuno</th>
          <th>Comida 1o</th>
          <th>Comida 2o</th>
          <th>Postre</th>
          <th>Merienda</th>
          <th>Dormir Ini</th>
          <th>Dormir Fin</th>
          <th>Deposiciones</th>
          <th>Observaciones</th>
        </thead>-->


        <div class="card mt-3" style="width: 22rem" *ngFor="let item of ' '.repeat(model.length).split(''); let i = index;">

          <div class="cabecera titulo card-header"><span>{{ model[i].alumno.nombre }}</span></div>

          <ul class="list-group list-group-flush justify-content-center bg-info">
            <li class="celdas list-group-item">Desayuno<td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.desayuno">
              <option value="1">🟢 Todo</option>
              <option value="2">🟡 Bastante</option>
              <option value="3">🟠 Poco</option>
            </select></td></li>

            <li class="celdas list-group-item">Comida<td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_primero">
              <option value="1">🟢 Todo</option>
              <option value="2">🟡 Bastante</option>
              <option value="3">🟠 Poco</option>
            </select></td><td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_segundo">
              <option value="1">🟢 Todo</option>
              <option value="2">🟡 Bastante</option>
              <option value="3">🟠 Poco</option>
            </select></td><td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_postre">
              <option value="1">🟢 Todo</option>
              <option value="2">🟡 Bastante</option>
              <option value="3">🟠 Poco</option>
            </select></td></li>
            
            <li class="celdas list-group-item">Merienda<td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.merienda">
              <option value="1">🟢 Todo</option>
              <option value="2">🟡 Bastante</option>
              <option value="3">🟠 Poco</option>
            </select></td></li>
            <li class="celdas list-group-item">Dormir<td><input [(ngModel)]="model[i].valoracion.dormir_inicio" style="width:70px" class="form-control-sm text-center" placeholder="10:00"/></td><td><input [(ngModel)]="model[i].valoracion.dormir_final" style="width:70px" class="form-control-sm text-center" placeholder="12:00"/></td></li>
            
            <li class="celdas list-group-item">Deposiciones <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.deposiciones">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select></td></li>
            <li class="celdas list-group-item">Observaciones<td><input [(ngModel)]="model[i].valoracion.observaciones" class="form-control-sm text-center" placeholder="Comentarios"/></td></li>
          </ul>
        </div>
      </table>
      <br>
      <button class="boton2 btn btn-dark p-1" style="height:50px;width:110px" (click)="guardar()">Enviar datos</button>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    </div>
    <br>
    <div class="d-grid gap-2 d-md text-center justify-content-center">
      <button class="boton btn btn-info p-1" style="height:40px;width:70px" (click)="volver()">Volver</button>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
        

        <!--
        <tbody>
          <tr *ngFor="let item of ' '.repeat(model.length).split(''); let i = index;">
            <td>{{ model[i].alumno.nombre }}</td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.desayuno">
              <option value="1">🟢 Tot</option>
              <option value="2">🟡 Bastant</option>
              <option value="3">🟠 Poc</option>
            </select></td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_primero">
              <option value="1">🟢 Tot</option>
              <option value="2">🟡 Bastant</option>
              <option value="3">🟠 Poc</option>
            </select></td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_segundo">
              <option value="1">🟢 Tot</option>
              <option value="2">🟡 Bastant</option>
              <option value="3">🟠 Poc</option>
            </select></td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_postre">
              <option value="1">🟢 Tot</option>
              <option value="2">🟡 Bastant</option>
              <option value="3">🟠 Poc</option>
            </select></td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.merienda">
              <option value="1">🟢 Tot</option>
              <option value="2">🟡 Bastant</option>
              <option value="3">🟠 Poc</option>
            </select></td>
            <td><input [(ngModel)]="model[i].valoracion.dormir_inicio" style="width:70px" class="form-control-sm" placeholder="10:00"/></td>
            <td><input [(ngModel)]="model[i].valoracion.dormir_final" style="width:70px" class="form-control-sm" placeholder="12:00"/></td>
            <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.deposiciones">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select></td>
            <td><input [(ngModel)]="model[i].valoracion.observaciones" class="form-control-sm" placeholder="Comentarios"/></td>

          </tr>
        </tbody>
        -->











<!--
<div class="hero container-fluid d-flex justify-content-center align-items-center">

  <div class="inicial" style="text-align:center">
    <div class="container-fluid text-center ">
      <h2 class="text-black">Edit Daily ({{ this.getdate() }})</h2>
      <br>
      <br>
      <br>
  
      <div *ngIf="!loading" id="daily" class="body p-4 mb-2 bg-info rounded shadow p-3">
        <table class="table">
          <thead>
            <th>Nombre</th>
            <th>Desayuno</th>
            <th>Comida 1o</th>
            <th>Comida 2o</th>
            <th>Postre</th>
            <th>Merienda</th>
            <th>Dormir Ini</th>
            <th>Dormir Fin</th>
            <th>Deposiciones</th>
            <th>Observaciones</th>
          </thead>
  
          
          <tbody>
            <tr *ngFor="let item of ' '.repeat(model.length).split(''); let i = index;">
              <td>{{ model[i].alumno.nombre }}</td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.desayuno">
                <option value="1">🟢 Tot</option>
                <option value="2">🟡 Bastant</option>
                <option value="3">🟠 Poc</option>
              </select></td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_primero">
                <option value="1">🟢 Tot</option>
                <option value="2">🟡 Bastant</option>
                <option value="3">🟠 Poc</option>
              </select></td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_segundo">
                <option value="1">🟢 Tot</option>
                <option value="2">🟡 Bastant</option>
                <option value="3">🟠 Poc</option>
              </select></td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.comida_postre">
                <option value="1">🟢 Tot</option>
                <option value="2">🟡 Bastant</option>
                <option value="3">🟠 Poc</option>
              </select></td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.merienda">
                <option value="1">🟢 Tot</option>
                <option value="2">🟡 Bastant</option>
                <option value="3">🟠 Poc</option>
              </select></td>
              <td><input [(ngModel)]="model[i].valoracion.dormir_inicio" style="width:70px" class="form-control-sm" placeholder="10:00"/></td>
              <td><input [(ngModel)]="model[i].valoracion.dormir_final" style="width:70px" class="form-control-sm" placeholder="12:00"/></td>
              <td><select class="form-control-sm" [(ngModel)]="model[i].valoracion.deposiciones">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select></td>
              <td><input [(ngModel)]="model[i].valoracion.observaciones" class="form-control-sm" placeholder="Comentarios"/></td>
  
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn btn-dark p-1" style="height:50px;width:110px" (click)="guardar()">Guardar</button>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
      </div>
      <br>
      <br>
      <div class="d-grid gap-2 d-md text-center justify-content-center">
        <button class="btn btn-info p-1" style="height:40px;width:70px" (click)="volver()">Volver</button>
      </div>
    </div>
  </div>
-->
  
  