* {
    font-family: Quicksand;
    max-width: none;
    /*font-weight: 100;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
  }


  button{
    justify-content: center;
  }

.titulos{
  font-size: 20px;
}


.a1{
  cursor: default;
}

  /*#daily{
    overflow: scroll;
  }*/

  #tablainfo{
    font-size: small;
   }

   .form-control-sm {
    min-height: calc(0.0em + 0.0rem + 0px);
    padding: 0.0rem 0.0rem;
    font-size: none;
    border-radius: 0.25rem;
}

 
.list-group{
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: normal;
}


.titulo{
  /*margin-bottom: 30px;*/
  font-weight: 700;
  font-size: medium;
}

.cabecera{
  background-color: gold;
}


.margen{
  margin-left: 2px;
  margin-right: 2px;
}

.boton2:hover{
  color: black;
  background-color: gold;
  border-color: gold;
 }

 .boton:active{
  color: white;
  background-color: black;
  border-color: black;
 }



 .boton:hover{
  color: black;
  background-color: gold;
  border-color: gold;
 }

 .boton:active{
  color: white;
  background-color: black;
  border-color: black;
 }



 /*MOVIMIENTO BOTONES*/             
.shake:hover{
  animation-name: shake;
      -webkit-animation-name: shake;
      -moz-animation-name: shake;
  animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
}

  @keyframes shake {
      0%  {transform: translate(1px, 1px) rotate(0deg);}
      10% {transform: translate(-1px, -2px) rotate(-1deg);}
      20% {transform: translate(-3px, 0px) rotate(1deg);}
      30% {transform: translate(3px, 2px) rotate(0deg);}
      40% {transform: translate(1px, -1px) rotate(1deg);}
      50% {transform: translate(-1px, 2px) rotate(-1deg);}
      60% {transform: translate(-3px, 1px) rotate(0deg);}
      70% {transform: translate(3px, 1px) rotate(-1deg);}
      80% {transform: translate(-1px, -1px) rotate(1deg);}
      90% {transform: translate(1px, 2px) rotate(0deg);}
      100% {transform: translate(1px, -2px) rotate(-1deg);}
  }


