* {
    font-family: Quicksand;
    /*font-weight: 100;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
    max-width: none;
    
  }


  button{
    justify-content: center;
  }


  /*#daily{
    overflow: scroll;
  }*/

  #tablainfo{
    font-size: small;
    max-width: 1vw;
   }

   .form-control-sm {
    min-height: calc(0.0em + 0.0rem + 0px);
    padding: 0.0rem 0.0rem;
    font-size: none;
    border-radius: 0.25rem;
}