
.heros{
    background-image: url(../../src/assets/img/background_pattern_min2.png);
    background-size:cover;
    background-repeat: repeat repeat;
    background-position: 50% 50%;
    min-height: 100vh;
    /*padding-top: 25vh;
    padding-bottom: 4vh;*/
    
   }