<div class="hero container-fluid d-flex justify-content-center align-items-center">

    <div class="inicial" style="text-align:center">
      <div class="container-fluid text-center ">
        <h2 class="text-black">Hola, {{ getUserName() }}</h2>
        <br>
        <br>
        <br>
        <table class="table">
            <thead>
              <div class="d-grid gap-2 background">
                  <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="editProfesor()">Entrada Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                  <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="dailyProfesor()">Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                <button type="button" class="btn btn-dark btn-lg mt-3 mb-3 pt-5 pb-5" (click)="alumnos()">Alumnos</button>
            </div>
              <div class="d-grid gap-2 background">
            </div>
            </thead>
          </table>
      </div>
    </div>
</div>
<!--<p></p> 
<div>© Polard</div>-->


