<div class="hero container-fluid d-flex justify-content-center align-items-center" *ngIf="this.getRol()===2; ngIfElse getRol">
<!--*ngIf="this.getRol()==2; ngIfElse getRol"-->
    <div class="inicial" style="text-align:center">
      <div class="container-fluid text-center ">
        <h4 class="text-black fw-bold">Hola, {{ getUserName() }}</h4>
        <h5 class="fw-bold">{{getGrupo()}}</h5>
        <br>
        <table class="table">
            <thead>
              <div class="d-grid gap-2 background">
                  <button type="button" class="shake btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4 fw-bold" (click)="editProfesor()">Entrada Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                  <button type="button" class="shake btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4 fw-bold" (click)="dailyProfesor()">Daily</button>
              </div>
              <div class="d-grid gap-2 background">
                <button type="button" class="shake btn btn-dark btn-lg mt-3 mb-3 pt-4 pb-4 fw-bold" (click)="alumnos()">Alumnos</button>
            </div>
              <div class="d-grid gap-2 background">
            </div>
            </thead>
          </table>
      </div>
    </div>
</div>

<div class="text-center" *ngIf="this.getRol()===1; ngIfElse getRol">
  <h1>404</h1>
  <br>
  <h3>PAGINA NO ENCONTRADA</h3>
  <br>
  <button class="boton btn btn-info p-1" style="height:40px;width:70px" (click)="volverdashboard()">Volver</button>
</div>


