.title { 
    text-shadow: 1px 1px 1px #000;
  }

  * {
    /*max-width: none;*/
  }

  
  #logoPolard{
    /* font-family: 'Sofia Sans Extra Condensed'; */
     font-family: 'Butterfly Kids';
     font-weight: bolder;
     font-size: 4.5vw;
     margin: 0;
 }


 .forma{
  min-width: 26vw;
  /*max-width: 30vw;*/
 }


 .boton:hover{
  color: black;
  background-color: gold;
  border-color: gold;
 }

 .boton:active{
  color: white;
  background-color: black;
  border-color: black;
 }

 
 @media (max-width: 1280px) {
    
  #logoPolard{
    /* font-family: 'Sofia Sans Extra Condensed'; */
     font-family: 'Butterfly Kids';
     font-weight: bolder;
     font-size: 60px;
     margin: 0;
 }
  }


 

 @media (max-width: 500px) {
    
  #logoPolard{
    /* font-family: 'Sofia Sans Extra Condensed'; */
     font-family: 'Butterfly Kids';
     font-weight: bolder;
     font-size: 55px;
     margin: 0;
 }
  }