<div class="hero container-fluid d-flex justify-content-center align-items-center" style="height:95vh; background-image: url(../../assets/img/background_pattern.png);
background-size:contain; background-repeat: repeat repeat; background-position: 30% 35%">

    <div class="inicial" style="text-align:center">
      <div class="container mt-2 text-center ">


        <div class="wrapper">
            <div class="body p-4 mb-2 bg-info rounded shadow p-3">
                <img class="logo" src="../../../assets/img/robot3.gif"  alt="img login">
                <h3 class="mb-2 text-light title">Bienvenido a Polard</h3>
                <p class="mt-3">Escoge una opción:</p>
<p></p>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-dark btn-lg" (click)="iniciarUser()">Alumno</button>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-dark btn-lg" (click)="iniciarProfesor()">Profesor</button>
                </div>
                
                <p></p>
                </div>

            </div>
        </div>
        <p></p> 
        <div>© Polard</div>
    </div>
</div>

