<div class="hero container-fluid d-flex justify-content-center align-items-center">

    <div class="inicial" style="text-align:center">
      <div class="container mt-2 text-center ">


        <div class="div">
            <div *ngIf="!loading" class="size p-4 forma bg-info rounded shadow">
                <img class="logo" src="../../../assets/img/robot3.gif"  alt="img login">
                <h5 class="text-light title">Bienvenido a<h1 id="logoPolard">Polard</h1></h5>

                <p class="mt-2">Escoge una opción:</p>

                <div class="d-grid gap-2">
                    <button type="button" class="boton btn btn-dark btn-lg" (click)="iniciarUser()">Alumno</button>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="button" class="boton btn btn-dark btn-lg" (click)="iniciarProfesor()">Profesor</button>
                </div>
                </div>

            </div>
            <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </div>
</div>

