* {
    font-family: Quicksand;
    font-weight: 100;
    margin: 0;
    overflow: hidden;
    max-width: none;
  }

  .titulo{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: large;
  }