<!--<app-navbar></app-navbar>-->


<div class="hero container-fluid d-flex justify-content-center align-items-center" *ngIf="this.getRol()===2; ngIfElse getRol">

    <div class="inicial" *ngIf="!loading" id="daily" class="body p-4 mb-2 rounded" style="text-align:center">
      <div class="container-fluid text-center">
        <br>
        <br>
        <h4 class="text-black">Alumnos</h4>
        
        <br>
 
        
        <table class="table">
            
            <tbody class="card mt-3" style="width: 22rem" *ngFor="let item of ' '.repeat(model.length).split(''); let i = index;"> 
              <div class="titulo card-header bg-info"><img class="iconoPerfil" src="../../assets/rol/{{ model[i].valoracion.alumno_id }}.png" alt="">
                <span>{{ model[i].alumno.nombre }}</span><br>
                <span>Telefono: <a href="tel:{{ model[i].alumno.phone_no }}">{{ model[i].alumno.phone_no }}</a></span><br>
                <span>Email: <a href="mailto:{{ model[i].alumno.phone_no }}">{{ model[i].alumno.email }}</a></span></div>
                
              
              
              <!--<span>{{ model[i].valoracion.alumno_id }} </span>-->
            </tbody>
        </table>
        

      </div>
      <div class="d-grid gap-2 d-md text-center justify-content-center">

        <button class="boton btn btn-info p-1" style="height:40px;width:70px" (click)="volver()">Volver</button>
      </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
<br>
<br>
<br>

<div class="text-center" *ngIf="this.getRol()===1; ngIfElse getRol">
  <h1>404</h1>
  <br>
  <h3>PAGINA NO ENCONTRADA</h3>
  <br>
  <button class="boton btn btn-info p-1"  style="height:40px;width:70px" (click)="volverdashboard()">Volver</button>
</div>

