* {
    font-family: Quicksand;
    font-weight: 100;
    /*margin: 0;*/
    /*overflow: hidden;*/
    max-width: none;
  }

 
  button{
    justify-content: center;
  }

  .boton:hover{
    color: black;
    background-color: gold;
    border: none;
  
   }
  
   .boton:active{
    color: white;
    background-color: black;
    border: none;
   }